:root {
    --branco-principal: #000000;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #10596b;
    --cor-de-fundo: #ecf0f5;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

*{ 
    margin: 0;
    padding: 0;
}

.logo img{
    width: 45%;
    height:17% ;

}

.escrita{
    width: 30%;
}